<ion-header>
  <ion-toolbar>
    <ion-title> Nuevo Rumiante </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Formulario </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="rumiante" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating"> Nombre </ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Sexo</ion-label>
          <ion-select placeholder="Selecciona" formControlName="sexo">
            <ion-select-option *ngFor="let sexo of sexos" [value]="sexo.id">
              {{ sexo.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!whoIs">
          <!-- <ion-button (click)="showDataPicker()"> Fecha de nacimiento  </ion-button> -->
          <ion-button > Fecha de nacimiento  </ion-button>
        </ion-item>
        <ion-grid *ngIf="whoIs">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating"> Edad </ion-label>
                <ion-input type="number" formControlName="edad"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item class="to-center">
                <h2>Meses</h2>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-label>Raza</ion-label>
          <ion-select placeholder="Seleccione Una" formControlName="raza">
            <ion-select-option *ngFor="let raza of razas" [value]="raza.id">
              {{ raza.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button
          color="primary"
          class="to-right"
          type="submit"
          [disabled]="!rumiante.valid"
        >
          Guardar
          <ion-icon slot="end" name="star"></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
