<ion-card *ngFor="let data of datas">
  <ion-card-header>
    <ion-card-title>{{ data.nombre }}</ion-card-title>
  </ion-card-header>

  <ion-card-content (click)="informacionCompleta(data)">
    <ion-grid>
      <ion-row>
        <ion-col>
          {{ data.raza }}
        </ion-col>
        <ion-col>
          {{ data.grup}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <div *ngIf="tipo == 'vaca'">
    <ion-item>
      <ion-icon name="eye" slot="start"></ion-icon>
      <ion-label> Ver hijos </ion-label>
      <ion-button fill="outline" slot="end"> Abrir </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="document" slot="start"></ion-icon>
      <ion-label> Ficha Medica </ion-label>
      <ion-button fill="outline" slot="end"> Abrir </ion-button>
    </ion-item>
  </div>
</ion-card>
