<ion-header>
  <ion-toolbar>
    <ion-title> {{ data.nombre }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form action="" >
        <ion-list>
          <ion-item>
            {{ ternero.nombre }}
          </ion-item>
          <ion-item>
            <ion-label position="stacked" >Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="data.nombre" name="nombre" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" >edad</ion-label>
            <ion-input type="number"  [(ngModel)]="data.edad" name="edad">  </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" >nacimiento</ion-label>
            <ion-input type="text"  [(ngModel)]="data.nacimiento" name="nacimiento">  </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" >raza</ion-label>
            <ion-input type="text"  [(ngModel)]="data.raza" name="raza">  </ion-input>
          </ion-item>
          <ion-item>
            <ion-label> Vendido </ion-label>
            <!-- <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox> -->
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-button slot="end" expand="block" (click)="onSubmit()">Actualizar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
